.App {
  text-align: center;
  font-family: 'Roboto';
  margin: 5px;
  padding: 20px;
}

parallax {
  background: url('./components/images/ring.webp');
  height: 100%;
  width: 100%;
  background-color: red;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.topic {
  background-color: antiquewhite;
}

.mainView{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;



}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
}


li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 249, 249);
}

