.App {
  text-align: center;
  font-family: 'Roboto';
}

.topic {
  background-color: antiquewhite;
}

.mainView{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;



}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
}


li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(251, 249, 249);
}

