.App {
  text-align: center;
  font-family: 'Roboto';
}

.mainView{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;



}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
}


li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}

